<div class="more">
	<section>
		<div class="pre-wrapper">
			<div class="fixed-content">
				<img src="./cap1.png" class="cap1" alt="">
			</div>
		</div>
		<div class="wrapper">
			<div class="half">
				<img src="./cap2.png" class="cap2" alt="">
			</div>
			<div class="half">
				<img src="./cap3.png" class="cap3" alt="">
			</div>
		</div>
		<div class="post-wrapper">
			<div class="fixed-content">
				<img src="./cap4.png" class="cap4" alt="">
			</div>
		</div>
	</section>

	<section>
		<div class="pre-wrapper">
			<div class="fixed-content">
				<img src="./cap5.png" class="cap5" alt="">
			</div>
		</div>
		<div class="wrapper">
			<div class="half">
				<img src="./cap6.png" class="cap6" alt="">
			</div>
			<div class="half">
				<img src="./cap7.png" class="cap7" alt="">
			</div>
		</div>
		<div class="post-wrapper">
			<div class="fixed-content">
				<img src="./cap8.png" class="cap8" alt="">
			</div>
		</div>
	</section>
</div>
