*.tar.gz
.DS_Store
.tmp
.git
node_modules
.settings
*.log
client/bundle.js
client/bundle.js.map
.idea
dist/
/nbproject/private/
client/app/app.constant.js
__backend_tcBuild
.vscode
jsconfig.json
coverage
app.constant.js
._
