<div class="content">
	<div class="wrapper">
		<div class="separator"></div>
		<div class="story">
			<div class="half right">
				<img src="./story1.png" class="story1" alt="">
				<div class="passion">
					<img src="./passion.png" alt="">
				</div>
			</div>
			<div class="half left">
				<section>
				  <h1>Our passion drives us to serve<br>you better and offer you more</h1>
				  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				</section>
				<button class="button">Read the story</button>
			</div>
		</div>

		<div class="separator"></div>
		<div class="story">
			<div class="half left mobile">
				<img src="./story2.png" class="story2" alt="">
			</div>

			<div class="half right">
				<section>
				  <h1>Our passion drives us to serve<br>you better and offer you more</h1>
				  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				</section>
				<button class="button">Read the story</button>
			</div>
			<div class="half left no-mobile">
				<img src="./story2.png" class="story2" alt="">
			</div>
		</div>

		<div class="separator"></div>
		<div class="story">
			<div class="half right">
				<img src="./story1.png" class="story1" alt="">
			</div>
			<div class="half left">
				<section>
				  <h1>Our passion drives us to serve<br>you better and offer you more</h1>
				  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				</section>
				<button class="button">Read the story</button>
			</div>
		</div>
		<div class="separator"></div>
	</div>
</div>
