//section colors
$background: #FFFFFF;
$background-header: #FFFFFF;
$background-header-background: #777777;
$background-menu: #FFFFFF;
$h1-header: #FFFFFF;
$shadow-header: #272626;
$ellipse-background: #62ABFA;
$ellipse-background-hover: #785252;

$border-menu: #DCDCDC;
$font-menu: #43ACFA;
$shadow-menu: rgba(136, 136, 136, 0.24);

$background-content: #EEEEEE;
$content-p-color: #333333;
$background-more: #FFFFFF;
$background-contact: #FFFFFF;
$background-contact-background: #777777;
$background-contact-callus: #FC6E51;
$h1-contact: #FFFFFF;
$shadow-contact: #272626;
$background-footer: #EEEEEE;
$footer-p-color: #333333;

//ui
$button-background: #43ADFB;
$button-color: #FFFFFF;
$button-hover: #3F51B5;

$button-flat-background: transparent;
$button-flat-border: #FFFFFF;
$button-flat-color: #FFFFFF;
$button-flat-border-background: #d85237;
$button-flat-border-hover: #d85237;

$input-border: #43ADFB;
$input-color: #43ADFB;
$input-border-hover: #3F51B5;


//font size
$font-size-1: 24px;
$font-size-2: 18px;
$font-size-3: 14px;
$font-size-4: 12px;
$font-size-5: 11px;