<div class="contact">
	<div class="background">
		<div class="wrapper">
			<h1>GET IN TOUCH!</h1>
			<div class="suscribe">
				<input class="input" type="text">
				<button class="button">Suscribe</button>
			</div>
		</div>

		<div class="effect">
			<div class="left"></div>
			<div class="middle">
				<div class="triangle-up"></div>
				<div class="triangle-left"></div>
				<div class="triangle-right"></div>
			</div>
			<div class="right"></div>
		</div>

		<div class="callus">
			<div class="wrapper">
				<h1>SAW ENOUGH?</h1>
				<button class="button">Suscribe</button>
			</div>
		</div>
	</div>
</div>
