<div class="menu">
	<ul class="topnav" id="mobileMenu">
	  <li><a class="active" href="#">DISCOVER</a></li>
	  <li><a href="#">RESEARCH</a></li>
	  <li><a href="#">IDEATION</a></li>
	  <li><a href="#">DESIGN</a></li>
	  <li><a href="#">DEVELOP</a></li>
	  <li><a href="#">IMPLEMENT</a></li>
	  <li class="icon">
	    <a href="javascript:void(0);" ng-click="menu.mobileMenu()">☰</a>
	  </li>
	</ul>

	<div class="wrapper">
		<div class="menu-item first active">
			<div class="content">
				<img src="./discover.png" class="discover"></img>
				<p class="description">DISCOVER</p>
			</div>
		</div>

		<div class="menu-item">
			<div class="content">
				<img src="./research.png" class="research"></img>
				<p class="description">RESEARCH</p>
			</div>
		</div>

		<div class="menu-item">
			<div class="content">
				<img src="./ideation.png" class="ideation"></img>
				<p class="description">IDEATION</p>
			</div>
		</div>

		<div class="menu-item">
			<div class="content">
				<img src="./design.png" class="design"></img>
				<p class="description">DESIGN</p>
			</div>
		</div>

		<div class="menu-item">
			<div class="content">
				<img src="./develop.png" class="develop"></img>
				<p class="description">DEVELOP</p>
			</div>
		</div>

		<div class="menu-item">
			<div class="content">
				<img src="./implement.png" class="implement"></img>
				<p class="description">IMPLEMENT</p>
			</div>
		</div>
	</div>
</div>
